/* fadeStyles.css */
.movie-list .fade-enter {
    opacity: 0;
  }
  
  .movie-list .fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in-out;
  }
  
  .movie-list .fade-exit {
    opacity: 1;
  }
  
  .movie-list .fade-exit-active {
    opacity: 0;
    transition: opacity 500ms ease-in-out;
  }
  